@use '../variables';

* {
  margin: 0;
  padding: 0;
}

html {
    font-size: clamp(8px, 6.5px + 0.5vw, 16px);
}

body {
    background-color: var(--color-background);
    color: var(--white-piece);
    font-family: var(--font-molde);
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    user-select: none;
    cursor: pointer;
}

.auth {
    color: rgba(244, 247, 250, 0.7);
    transition: color 0.3s;
    font-size: 1.5rem;
    padding: 0.5rem;
    
    &:hover {
        color: var(--color-secondary);
    }
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.chess {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container {
        display: flex;
        margin-top: 64px;
        margin-bottom: 24px;
    }

    &__board {
        width: 40rem;
        height: 40rem;
    }
    
    &__field {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &.w {
            background-color: var(--white-square);
        }
        &.b {
            background-color: var(--black-square);
        }
        
        &.available {
            &-move {
                cursor: pointer;
                &::before {
                    content: '';
                    position: absolute;
                    width: 1.25rem;
                    height: 1.25rem;
                    border-radius: 50%;
                    background-color: rgba(123, 97, 255, 0.5);
                }

                &:hover {
                    background-color: black;

                    &::before {
                        opacity: 0;
                    }
                }
            }
            &-eat {
                cursor: pointer;
                &::before {
                    content: '';
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    border: 0.3rem solid rgba(123, 97, 255, 0.3);
                }
            }
        }

        &.undo {
            background-color: rgba(123, 97, 255, 0.3);
        }
    }
    
    &__piece {
        cursor: pointer;
        width: 4.5rem;
        height: 4.5rem;
        z-index: 2;

        &.dragging {
            pointer-events: none;
            position: absolute;
            z-index: 3;
        }
        
        &.w {
            & > .primary-color {
              fill: var(--white-piece);

            }
            & > .secondary-color {
                fill: var(--black-piece)
            }
  
        }
        &.b {
            & > .primary-color {
                fill: var(--black-piece);
            }
            & > .secondary-color {
                fill: var(--white-piece)
            }
        }

        &.copy {
            width: 4.5rem;
            height: 4.5rem;
            opacity: 0.6;
        }
    }
}