@use '../variables';

* {
  margin: 0;
  padding: 0;
}

html {
    font-size: clamp(8px, 6.5px + 0.5vw, 16px);
}

body {
    background-color: var(--color-background);
    color: var(--white-piece);
    font-family: var(--font-molde);
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    user-select: none;
    cursor: pointer;
}

.auth {
    color: rgba(244, 247, 250, 0.7);
    transition: color 0.3s;
    font-size: 1.5rem;
    padding: 0.5rem;
    
    &:hover {
        color: var(--color-secondary);
    }
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}