.chess {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;

    &__container {
        display: flex;
    }

    &__board {
        width: 48rem;
        height: 48rem;
    }

    &__field {
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &.w {
            background-color: var(--white-square);
        }

        &.b {
            background-color: var(--black-square);
        }

        &.available {
            &-move {
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    background-color: rgba(123, 97, 255, 0.5);
                }

                &:hover {
                    background-color: black;

                    &::before {
                        opacity: 0;
                    }
                }
            }

            &-eat {
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    border: 0.3rem solid rgba(123, 97, 255, 0.3);
                }
            }
        }

        &.undo {
            background-color: rgba(123, 97, 255, 0.3);
        }
    }
}